*{
    margin: 0;
    padding: 0;
}
.headerStyle {
  background-color: coral;
  color: white;
  padding: 20px;
  text-align: center;
}
.cardTitle,.cardDesc,.cardInfo,.cardFooter {
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10px;
}
.card {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    box-shadow: 2px 4px 4px gray;
    width: 350px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;

}
.icon-dsgn {
    color: blue;
    font-size: 2rem;
    margin: 10px;
    gap: 10px;
    
     
}